<!-- First menu: -->
<div class="container" *ngIf="Condition1" ng-app="">
  <div class="main-box">
    <a class="btn-save" (click)="screen2()">
      <img src="./assets/file-manipulationIcons/Save-Button.png" />
    </a>
  </div>
  <div class="header-box">
    <label class="box-title">HOTTEXT INTERACTION</label>
    <div class="question-opt">QUESTION</div>
    <img class="vert-line" src="./assets/Icons/Line 7.png" />
    <div class="response-opt">RESPONSE</div>
    <img class="vert-line2" src="./assets/Icons/Line 7.png" />
    <a class="delete-box" (click)="dismissbox()">
      <img src="/assets/delete.png" />
    </a>
  </div>
  <input
    type="text"
    name="inputprompt"
    #text
    (keyup)="getValue(text.value)"
    placeholder="Define Prompt"
    onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Define Prompt'"
    class="prompt"
    [class.bold-text]="styleBold"
    [class.italic-text]="styleItalic"
    [class.underline-text]="styleUnderline"
  />
  <textarea
    class="input-text"
    type="text"
    name="inputprompt"
    #text
    (keyup)="getValue(text.value)"
    placeholder="Lorem ipsum dolor sit amet...."
    onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Lorem ipsum dolor sit amet....'"
  ></textarea>
</div>

<!-- Second menu: -->
<div class="container" *ngIf="Condition2" ng-app="">
  <div class="main-box">
    <a class="btn-save" (click)="screen3()">
      <img src="./assets/file-manipulationIcons/Save-Button.png" />
    </a>

    <div class="box-warning">
      <img class="img-warning" src="./assets/Icons/symbol2.png" />
      <label class="label-warning"
        >Please select the correct hottext choices below</label
      >
    </div>
  </div>
  <div class="header-box">
    <label class="box-title">HOTTEXT INTERACTION</label>
    <div class="question-opt">QUESTION</div>
    <img class="vert-line" src="./assets/Icons/Line 7.png" />
    <div class="response-opt">RESPONSE</div>
    <img class="vert-line2" src="./assets/Icons/Line 7.png" />
    <a class="delete-box" (click)="dismissbox()">
      <img src="/assets/delete.png" />
    </a>
  </div>
  <textarea
    class="input-text2"
    type="text"
    name="inputprompt"
    #text
    (keyup)="getValue(text.value)"
    placeholder="Lorem ipsum dolor sit amet...."
    onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Lorem ipsum dolor sit amet....'"
  ></textarea>
</div>

<!-- Third menu: -->
<div class="container" *ngIf="Condition3" ng-app="">
  <div class="main-box">
    <label class="label-warning"
      >Please select the correct hottext choices below</label
    >
  </div>
  <div class="header-box">
    <label class="box-title">ITEM_1</label>
  </div>
  <label class="label-last">Lorem ipsum dolor sit amet....</label>
</div>

<!-- Symbols -->
<div class="cardBottomBox" *ngIf="bottomSymbol">
  <div class="card-bottom">
    <div class="card-body">
      <div class="text-icons">
        <p class="texts">
          <span>
            <a type="button"
              ><img
                src="./assets/Icons/cross.png"
                height="12px"
                id="cross"
                (click)="dismiss()"
            /></a> </span
          ><br />
          EDIT TEXT
        </p>

        <div class="symbol">
          <a type="button" (click)="boldText()"
            ><img src="./assets/Icons/bita.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 12.png" height="20px" />
          <a type="button" (click)="italicText()"
            ><img src="./assets/Icons/italic.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 12.png" height="20px" />
          <a type="button" (click)="underlineText()"
            ><img src="./assets/Icons/underline.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 12.png" height="20px" />
          <a type="button"
            ><img src="./assets/Icons/icon5.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 12.png" height="20px" />
          <a type="button"
            ><img src="./assets/Icons/icon4.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 7.png" height="30px" />
          <a type="button"
            ><img src="./assets/Icons/icon6.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 12.png" height="20px" />
          <a type="button"
            ><img src="./assets/Icons/gallery.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 12.png" height="20px" />
          <a type="button"
            ><img src="./assets/Icons/music.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 12.png" height="20px" />
          <a type="button"
            ><img src="./assets/Icons/icon3.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 12.png" height="20px" />
          <a type="button"
            ><img src="./assets/Icons/icon2.png" height="20px"
          /></a>
          <img src="./assets/Icons/Line 7.png" height="30px" />
          <a type="button"
            ><img src="./assets/Icons/icon1.png" height="20px"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
