header {
  min-width: 100%;
  max-width: 100%;
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  background-color: var(--clr-dark);
  color: #FFF;
}
h1 {
  color: #FFF;
  font-weight: 600;
  margin-left: 1em;
  font-size: 25px;
  margin-bottom: 0;
}
.messageSetting {
  display: inline;
  margin-right: 0.1em;
}

.searchProfilePower {
  display: inline;
  margin-right: 1em;
}

button {
  display: inline;
  background: none;
  border: none;
  margin-left: 10px;
}

button {
  max-width: 2.4rem;
  max-height: 2.4rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}
