<header>
    <P class="test7">TEST 7</P>
    <div>
        <div class="messageSetting">
        </div>
        <div class="searchProfilePower">
            <a type="button"><img id="search" src="assets/point.png" alt="#" height="15px">0%</a>
            <a type="button"><img src="assets/wifi.png" alt="#" height="20px" /></a>
        </div>
    </div>

</header>
<div class="row main">
    <div class="col-md-6 text">
        <h5>Choice Interaction</h5>
        <p class="choice-text">
            Lixembuorg 's Neigbors
        </p>
        <p class="para">
            QTA , the company behind TOA assessment plateform, is located in
            <b>Lixembuorg or Litezbuorg</b> as it is called Lixembuorgish language
            a,small contry Western Europe.
        </p>
        <p class="para2">Which of the following countries share no border with Lixembuorg</p>
        <div class="card" style="width: 26rem;">
            <div class="card-body">
                <div class="checkbox">
                    <label class="mt-1">
                        <input type="checkbox" data-toggle="toggle" checked>&nbsp;&nbsp;&nbsp; Belgium
                    </label><br>
                    <label class="mt-1">
                        <input type="checkbox" data-toggle="toggle">&nbsp;&nbsp;&nbsp;Germany
                    </label><br>
                    <label class="mt-1">
                        <input type="checkbox" data-toggle="toggle">&nbsp;&nbsp;&nbsp;Austria
                    </label><br>
                    <label class="mt-1">
                        <input type="checkbox" data-toggle="toggle">&nbsp;&nbsp;&nbsp;Denmark
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 img">
        <a type="button"><img src="assets/image.png" alt="#" height="250px" width="400px" /></a>
        <p class="img-txt">The river alzzette Luxombourg Plaffenthal by Dieter Raber, <br> elleased under CC BY-5A 4.0
        </p>
    </div>
</div>

<!-- <div class="card-header">
      <p class="modal-title fs-9" id="ModalLabel">GAP MATCH INTERACTION
        <span>QUESTIONS | RESPONSE <a type="button" (click)="deleteContent()">|<img
              src="./assets/delete.png"></a></span>
      </p>

    </div> -->
<!-- <div class="card-body"> -->
<!-- <div class="row mt-1 mb-3">
        <input type="text" class="promt" placeholder="Define Prompt">
      </div> -->

<!-- <div class="row choices">
        <a type="button" class="choice" (click)="addChoice()"><img src="./assets/Icons/add.png" height="12px"> Add
          Choice</a>
        <div class="choiceText">
          <ng-container *ngFor="let value of InputArray; let i = index">
            <div *ngIf="i<8" class="ngDiv">
              <input type="text" class="choice2" [(ngModel)]="value.value" #name="ngModel" name="value{{i}}"
                placeholder="CHOICE">
            </div>
          </ng-container>
        </div>
      </div> -->
<!-- <div class="paragraph">
        <input type="text"
          [style]="styleOne && {'font-weight':'bold'} || styleTwo && {'font-style':'italic'} || styleThree && {'text-decoration': 'underline'}  || styleFour && {'text-align': 'left'} || styleFive && {'text-align': 'right'}"
          placeholder="Lorem ipsum dolor sit amet , Consectetur adipiscing, elit sed do" [(ngModel)]="inputValue">
      </div>
      <div class="done">
        <a type="button" (click)="content2()"><img src="./assets/done.png"></a>
      </div>
    </div>
  </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- <footer>
    <div class="messageSetting"> -->
<!-- <button><img src="assets/headerIcons/message.png" alt="#" /></button>
    <button><img src="assets/headerIcons/setting.png" alt="#" /></button> -->
<!-- </div>
    <div class="next">
        <a type="button"><img src="assets/next.png" alt="#" height="20px" /></a>
     </div>
</footer> -->