<!-- FIRST SCREEN -->

<div class="content" *ngIf="ConditionDone1">
  <div class="card" style="width: 45rem;">
    <div class="card-header">
      <p class="modal-title fs-9" id="ModalLabel">GAP MATCH INTERACTION
        <span>QUESTIONS | RESPONCE <a type="button" (click)="deleteContent()">|<img
              src="./assets/delete.png"></a></span>
      </p>

    </div>
    <div class="card-body">
      <div class="row mt-1 mb-3">
        <!-- <p class="promt">Define Prompt</p> -->
        <input type="text" class="promt" placeholder="Define Prompt">
      </div>

      <div class="row choices">
        <a type="button" class="choice" (click)="addChoice()"><img src="./assets/Icons/add.png" height="12px"> Add
          Choice</a>
        <div *ngFor="let value of InputArray">
          <input type="text" class="choice2" placeholder="CHOICE" [(ngModel)]="choiceAdd">


          <!-- <ng-container *ngIf="choiceHide1"><input type="text" class="choice2" [(ngModel)]="choiceBind1"
              (click)="choice1()" placeholder="CHOICE 1"></ng-container> &nbsp;
          <ng-container *ngIf="choiceHide2"><input type="text" class="choice2" [(ngModel)]="choiceBind2"
              (click)="choice2()" placeholder="CHOICE 2"></ng-container> &nbsp;
          <ng-container *ngIf="choiceHide3"><input type="text" class="choice2" [(ngModel)]="choiceBind3"
              (click)="choice3()" placeholder="CHOICE 3"></ng-container> &nbsp;
          <ng-container *ngIf="choiceHide4"><input type="text" class="choice2" [(ngModel)]="choiceBind4"
              (click)="choice4()" placeholder="CHOICE 4"></ng-container>&nbsp;
          <ng-container *ngIf="choiceHide5"><input type="text" class="choice2" [(ngModel)]="choiceBind5"
              (click)="choice5()" placeholder="CHOICE 5"></ng-container>&nbsp;
          <ng-container *ngIf="choiceHide6"><input type="text" class="choice2" [(ngModel)]="choiceBind6"
              (click)="choice6()" placeholder="CHOICE 6"></ng-container>&nbsp;
          <ng-container *ngIf="choiceHide7"><input type="text" class="choice2" [(ngModel)]="choiceBind7"
              (click)="choice7()" placeholder="CHOICE 7"></ng-container>&nbsp;
          <ng-container *ngIf="choiceHide8"><input type="text" class="choice2" [(ngModel)]="choiceBind8"
              (click)="choice8()" placeholder="CHOICE 8"></ng-container>&nbsp; -->
        </div>
        <!-- <div *ngFor="let value of InputArray">
          {{value}}
        </div> -->
      </div>
      <div class="paragraph" >
        <!-- <p class="mt-1" id="ipsum"
          [style]="styleOne && {'font-weight':'bold'} || styleTwo && {'font-style':'italic'} || styleThree && {'text-decoration': 'underline'}  || styleFour && {'text-align': 'left'} || styleFive && {'text-align': 'right'}">
          Lorem ipsum dolor sit amet , Consectetur adipiscing, elit sed do</p> -->
          <input type="text" [style]="styleOne && {'font-weight':'bold'} || styleTwo && {'font-style':'italic'} || styleThree && {'text-decoration': 'underline'}  || styleFour && {'text-align': 'left'} || styleFive && {'text-align': 'right'}"
          placeholder="Lorem ipsum dolor sit amet , Consectetur adipiscing, elit sed do">
      </div>
      <div class="done">
        <a type="button" (click)="content2()"><img src="./assets/done.png"></a>
      </div>
    </div>
  </div>

  <div class="cardBottomBox" *ngIf="hideBottomContent">
    <div class="card-bottom" style="width: 45rem;">
      <div class="card-body">
        <div class="text-icons">
          <p class="texts">
            <span>
              <a type="button" (click)="hideContent()"><img src="./assets/Icons/cross.png" height="12px"></a>
            </span><br>
            EDIT TEXT
          </p>

          <div class="symbol">
            <a type="button" (click)="boldText()"><img src="./assets/Icons/bita.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button" (click)="italicText()"><img src="./assets/Icons/italic.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button" (click)="underlineText()"><img src="./assets/Icons/underline.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon5.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon4.png" height="20px"></a>
            <img src="./assets/Icons/Line 7.png" height="30px">
            <a type="button"><img src="./assets/Icons/icon6.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/gallery.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/music.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon3.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon2.png" height="20px"></a>
            <img src="./assets/Icons/Line 7.png" height="30px">
            <a type="button"><img src="./assets/Icons/icon1.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/normal.png" height="20px"></a>
            <img src="./assets/Icons/Line 7.png" height="30px">
            <a type="button" (click)="leftText()"><img src="./assets/Icons/dash1.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button" (click)="rightText()"><img src="./assets/Icons/dash2.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon7.png" height="30px"></a>
            <a type="button"><img src="./assets/Icons/arrow.png" height="20px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- SECOND SCREEN -->
<div class="content2" *ngIf="ConditionDone2">
  <div class="card" style="width: 45rem;">
    <div class="card-header">
      <p class="modal-title fs-9" id="ModalLabel">GAP MATCH INTERACTION
        <span>QUESTIONS | RESPONCE <a type="button" (click)="deleteContent()">|<img
              src="./assets/delete.png"></a></span>
      </p>
    </div>
    <div class="card-body">
      <div class="row choices">
        <div *ngFor="let value of InputArray; let i = index">
          {{choiceAdd}}
          <!-- <input type="text" class="choice2" placeholder="CHOICE"> -->
          <!-- <ng-container *ngIf="choiceHide1"><input type="text" class="choice2" placeholder="CHOICE 1"
              [(ngModel)]="choiceBind1"></ng-container>
          &nbsp;
          <ng-container *ngIf="choiceHide2"><input type="text" class="choice2" placeholder="CHOICE 2"
              [(ngModel)]="choiceBind2"></ng-container>
          &nbsp;
          <ng-container *ngIf="choiceHide3"><input type="text" class="choice2" placeholder="CHOICE 3"
              [(ngModel)]="choiceBind3"></ng-container>
          &nbsp;
          <ng-container *ngIf="choiceHide4"><input type="text" class="choice2" placeholder="CHOICE 4"
              [(ngModel)]="choiceBind4"></ng-container>
          <ng-container *ngIf="choiceHide5"><input type="text" class="choice2" placeholder="CHOICE 1"
              [(ngModel)]="choiceBind1"></ng-container>
          &nbsp;
          <ng-container *ngIf="choiceHide6"><input type="text" class="choice2" placeholder="CHOICE 2"
              [(ngModel)]="choiceBind2"></ng-container>
          &nbsp;
          <ng-container *ngIf="choiceHide7"><input type="text" class="choice2" placeholder="CHOICE 3"
              [(ngModel)]="choiceBind3"></ng-container>
          &nbsp;
          <ng-container *ngIf="choiceHide8"><input type="text" class="choice2" placeholder="CHOICE 4"
              [(ngModel)]="choiceBind4"></ng-container>
          &nbsp; -->

          <!-- <div *ngFor="let value of InputArray">
            {{value}}
          </div> -->
        </div>
      </div>
      <div class="paragraph">
        <p
          [style]="styleOne && {'font-weight':'bold'} || styleTwo && {'font-style':'italic'} || styleThree && {'text-decoration': 'underline'}">
          <img src="./assets/Icons/symbol.png" height="15px">&nbsp;&nbsp; Lorem ipsum dolor sit amet , Consectetur
          adipiscing, elit sed do
        </p>
      </div>

      <div class="para">
        <p>Lorem ipsum dolor sit amet , Consectetur adipiscing, elit sed do </p>
      </div>
      <div class="done-btn">
        <a type="button" (click)="content3()"><img src="./assets/done.png"></a>
      </div>
    </div>

  </div>
</div>





<!-- THIRD SCREEN -->

<div class="content3" *ngIf="ConditionDone3">
  <div class="card" style="width: 45rem;">
    <div class="card-header">
      <p class="modal-title fs-9" id="ModalLabel">GAP MATCH INTERACTION
        <span>QUESTIONS | RESPONCE <a type="button" (click)="deleteContent()">|<img
              src="./assets/delete.png"></a></span>
      </p>
    </div>
    <div class="card-body">
      <div class="row choices">
        <div *ngFor="let value of InputArray; let i = index">
          <input type="text" class="choice2" placeholder="CHOICE">

          <!-- <ng-container *ngIf="choiceHide1"><input type="text" class="choice2" placeholder="CHOICE 1"
              [(ngModel)]="choiceBind1"></ng-container>
          &nbsp;&nbsp;
          <ng-container *ngIf="choiceHide2"><input type="text" class="choice2" placeholder="CHOICE 2"
              [(ngModel)]="choiceBind2"></ng-container>
          &nbsp;&nbsp;
          <ng-container *ngIf="choiceHide3"><input type="text" class="choice2" placeholder="CHOICE 3"
              [(ngModel)]="choiceBind3"></ng-container>
          &nbsp;&nbsp;
          <ng-container *ngIf="choiceHide4"><input type="text" class="choice2" placeholder="CHOICE 4"
              [(ngModel)]="choiceBind4"></ng-container>
          &nbsp;&nbsp; -->

          <!-- <div *ngFor="let value of InputArray">
            {{value}}
          </div> -->
        </div>
      </div>
      <div class="para">
        <p>Lorem ipsum dolor sit amet , Consectetur adipiscing, elit sed do </p>
      </div>
      <div class="done-btn2">
        <a type="button"><img src="./assets/done.png"></a>
      </div>
    </div>

  </div>
</div>