<div class="content" *ngIf="ConditionDone1">
  <div class="card" style="width: 45rem;">
    <div class="card-header">
      <p class="modal-title fs-9" id="ModalLabel">GAP MATCH INTERACTION
        <span>QUESTIONS | RESPONCE <a type="button" (click)="deleteContent()"><img src="./assets/delete.png"></a></span>
      </p>

    </div>
    <div class="card-body">
      <div class="row mt-1">
        <p class="promt">Define Prompt</p>
      </div>

      <div class="row choices">
        <a type="button" class="choice" (click)="content()"><img src="./assets/Icons/add.png" height="12px"> Add
          Choice</a>
        <div>
          <p class="choice1"> CHOICE 1</p>
        </div>
      </div>
      <div class="paragraph">
        <p class="mt-1" id="ipsum"
          [style]="styleOne && {'font-weight':'bold'} || styleTwo && {'font-style':'italic'} || styleThree && {'text-decoration': 'underline'}  || styleFour && {'text-align': 'left'} || styleFive && {'text-align': 'right'}">
          Lorem ipsum dolor sit amet , Consectetur adipiscing, elit sed do </p>
      </div>
      <div class="done">
        <img src="./assets/done.png">
      </div>
    </div>
  </div>

  <div class="cardBottomBox" *ngIf="hideBottomContent">
    <div class="card-bottom" style="width: 45rem;">
      <div class="card-body">
        <div class="text-icons">
          <p class="texts">
            <span>
              <a type="button" (click)="hideContent()"><img src="./assets/Icons/cross.png" height="12px"></a>
            </span><br>
            EDIT TEXT
          </p>

          <div class="symbol">
            <a type="button" (click)="boldText()"><img src="./assets/Icons/bita.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button" (click)="italicText()"><img src="./assets/Icons/italic.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button" (click)="underlineText()"><img src="./assets/Icons/underline.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon5.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon4.png" height="20px"></a>
            <img src="./assets/Icons/Line 7.png" height="30px">
            <a type="button"><img src="./assets/Icons/icon6.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/gallery.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/music.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon3.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon2.png" height="20px"></a>
            <img src="./assets/Icons/Line 7.png" height="30px">
            <a type="button"><img src="./assets/Icons/icon1.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/normal.png" height="20px"></a>
            <img src="./assets/Icons/Line 7.png" height="30px">
            <a type="button" (click)="leftText()"><img src="./assets/Icons/dash1.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button" (click)="rightText()"><img src="./assets/Icons/dash2.png" height="20px"></a>
            <img src="./assets/Icons/Line 12.png" height="20px">
            <a type="button"><img src="./assets/Icons/icon7.png" height="30px"></a>
            <a type="button"><img src="./assets/Icons/arrow.png" height="20px"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="content2" *ngIf="ConditionDone2">
  <div class="card" style="width: 45rem;">
    <div class="card-header">
      <p class="modal-title fs-9" id="ModalLabel">GAP MATCH INTERACTION
        <span>QUESTIONS | RESPONCE <a type="button" (click)="deleteContent()"><img src="./assets/delete.png"></a></span>
      </p>
    </div>
    <div class="card-body">
      <div class="row choices">
        <div>
          <a type="button" class="choice2" (click)="content2()"> CHOICE 1</a>
        </div>
      </div>
      <div class="paragraph">
        <p
          [style]="styleOne && {'font-weight':'bold'} || styleTwo && {'font-style':'italic'} || styleThree && {'text-decoration': 'underline'}">
          <img src="./assets/Icons/symbol.png" height="15px">&nbsp;&nbsp; Lorem ipsum dolor sit amet , Consectetur
          adipiscing, elit sed do
        </p>
      </div>

      <div class="para">
        <p>Lorem ipsum dolor sit amet , Consectetur adipiscing, elit sed do </p>
      </div>
      <div class="done-btn">
        <img src="./assets/done.png">
      </div>
    </div>

  </div>
</div>







<div class="content3" *ngIf="ConditionDone3">
  <div class="card" style="width: 45rem;">
    <div class="card-header">
      <p class="modal-title fs-9" id="ModalLabel">GAP MATCH INTERACTION
        <span>QUESTIONS | RESPONCE <a type="button" (click)="deleteContent()"><img src="./assets/delete.png"></a></span>
      </p>
    </div>
    <div class="card-body">
      <div class="row choices">
        <div>
          <p class="choice2"> CHOICE 1</p>
        </div>
      </div>
      <div class="para">
        <p>Lorem ipsum dolor sit amet , Consectetur adipiscing, elit sed do </p>
      </div>
      <div class="done-btn2">
        <img src="./assets/done.png">
      </div>
    </div>

  </div>
</div>