<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <app-header></app-header>
    <app-side-bar></app-side-bar>
    <!-- **interactions component go here -->
    <router-outlet></router-outlet>
    <app-ctm001002 *ngIf="screen==1"></app-ctm001002>
    <app-ext-text-interaction *ngIf="screen==2"></app-ext-text-interaction>
    <app-file-manipulation *ngIf="screen==3"></app-file-manipulation>
    <app-graphical-interaction *ngIf="screen==4"></app-graphical-interaction>
    <app-graphicalinteraction12 *ngIf="screen==5"></app-graphicalinteraction12>
    <app-hottext-interaction *ngIf="screen==6"></app-hottext-interaction>
    <app-orderinteraction *ngIf="screen==7"></app-orderinteraction>
    <app-match-interaction *ngIf="screen==8"></app-match-interaction>
    <app-choice-box *ngIf="screen==9"></app-choice-box>
    <app-card-box *ngIf="screen==10"></app-card-box>
    <!-- <app-orderinteraction></app-orderinteraction> -->
    <!-- <app-file-manipulation></app-file-manipulation> -->
    <!-- <app-graphical-interaction></app-graphical-interaction> -->
    <!-- <app-hottext-interaction></app-hottext-interaction> -->
    <!-- interactions component go here  -->
    <div class="options-container">
      <div id="printViewBurger">
        <div>
          <img class="options" src="assets/view.png" alt="" />
          <img class="options" src="assets/printer.png" alt="" />
          <img
            (click)="openBurgerMenu()"
            class="options"
            src="assets/burger.png"
            alt=""
          />
        </div>

        <app-admin-hover-card></app-admin-hover-card>
      </div>
    </div>
    <img id="saveButton" src="assets/SaveButton.png" alt="" (click)="screen==1?screen=2:(screen==2?screen=3:(screen==3?screen=4:(screen==4?screen=5:(screen==5?screen=6:(screen==6?screen=7:(screen==7?screen=8:(screen==8?screen=9:(screen==9?screen=10:screen=1))))))))">
  </body>
</html>
