<div class="sidebarContaianer">
  <div class="sideBar">
    <button (click)="menu()" class="items" active><img class="items-img" src="assets/sideBarIcons/items-green.png" alt=""></button>
    <button (click)="tests()" active class="tests"><img class="tests-img" src="assets/sideBarIcons/Tests.png" alt=""></button>
    <button class="testtakers"><img class="testtakers-img" src="assets/sideBarIcons/TestTakers.png" alt=""></button>
    <button class="groups"><img class="groups-img" src="assets/sideBarIcons/Groups.png" alt=""></button>
    <button class="deliveries"><img class="deliveries-img" src="assets/sideBarIcons/Deliveries.png" alt=""></button>
    <button class="results"><img class="results-img" src="assets/sideBarIcons/Results.png" alt=""></button>
  </div>
  <div *ngIf="pencilb">
  <div class="sideBar expanded" [ngStyle]="expandedSideBar" *ngIf="expanded">
   
    <ul>
      <div id="commonInteraction" >
        <p class="sideBar-headings" (click)="openCommonInteraction()">COMMON INTERACTION <img class="arrow-1"  src="../../../assets/sideBarIcons/arrow.png"></p>
        <div class="commonInteractionComponents" *ngIf="commonIntrxn">
          <div>
            <img
              src="../../../assets/common interaction Icons/Associate.png"
              alt="Associate"
            />
            <img
              src="../../../assets/common interaction Icons/Choice.png"
              alt="Choice"
             (click)="choice()" />
          </div>

          <div>
            <img
              src="../../../assets/common interaction Icons/ExtTest.png"
              alt="ExtTest"
           (click)="external()" />
            <img
              src="../../../assets/common interaction Icons/FileUpload.png"
              alt="FileUpload"
           (click)="fileupload()" />
          </div>
          <div>
            <img
              src="../../../assets/common interaction Icons/GapMatch.png"
              alt="GapMatch.png"
            (click)="gapMatch()" />
            <img
              src="../../../assets/common interaction Icons/HotText.png"
              alt="HotText"
           (click)="hottext()" />
          </div>

          <div>
            <img
              src="../../../assets/common interaction Icons/Match.png"
              alt="Match"
            (click)="matchint()" />
            <img
              src="../../../assets/common interaction Icons/Media.png"
              alt="Media"
            />
          </div>
          <div>
            <img
              src="../../../assets/common interaction Icons/Order.png"
              alt="Order"
           (click)="orderint()" />
            <img
              src="../../../assets/common interaction Icons/Slider.png"
              alt="Slider"
            />
          </div>
        </div>
      </div>
      <hr />
      <div id="inlineInteraction">
        <p class="sideBar-headings">INLINE INTERACTION <img class="arrow-2" src="../../../assets/sideBarIcons/arrow.png"></p>
      </div>
      <hr />
      <div id="graphicInteraction">
        <p class="sideBar-headings">GRAPHIC INTERACTION <img class="arrow-3" src="../../../assets/sideBarIcons/arrow.png"></p>
      </div>
      <hr />
      <div id="customInteraction">
        <p class="sideBar-headings">CUSTOM INTERACTION <img class="arrow-4" src="../../../assets/sideBarIcons/arrow.png"></p>
      </div>
    </ul>
  </div>
</div>
  

<div *ngIf="pencilf">
<div class="sideBar expanded" [ngStyle]="expandedSideBar" *ngIf="expanded">
  <div class="folder-item"><img class="folder" src="/assets/file.png"><p class="item">Item</p><img class="arrow-6" src="../../../assets/sideBarIcons/arrow.png"></div>
  <div class="folder-item">
    <img class="folder" src="/assets/file.png">
    <p class="item">QTI Example Test</p>
    <img class="arrow-6"  src="../../../assets/sideBarIcons/arrow.png"  (click)="dropdow()" >
  </div>
    <div class="folder-item" *ngIf="dropDown"><p class="folderitems"  (click)="folderitem()">{{val}}</p></div>
  
  <div class="folder-item1" *ngIf="newfolder1">
    <img class="folder" src="/assets/file.png" >
    <p class="item">New Folder</p>
    <img class="arrow-6"  src="../../../assets/sideBarIcons/arrow.png" *ngIf="false">
  </div>
  <div class="toggle-1">
  <div class="toggle">

    <div class="row-1" >
      <img src="/assets/new folder.png" (click)="newclass()" class="newfolder"  alt="" >
      <div class="delete-icon" >
      <img src="/assets/Rectangle green.png" class="rectangle-green" alt="" >
      <img src="/assets/delete-img.png" (click)="delet()" class="delete-img"  alt="">
   </div>
      </div>
       <div class="row-2"  >
       <div class="delete-icon">
      <img src="/assets/Rectangle green.png" class="rectangle-green" alt="">
      <img src="/assets/export-img.png" class="export-img"  alt="">
   
       </div>
       <div class="delete-icon">
      <img src="/assets/Rectangle green.png" class="rectangle-green" alt="">
      <img src="/assets/import-img.png" class="import-img"  alt="">
      </div>
      </div>
       <div class="row-3" >
       <div class="delete-icon">
      <img src="/assets/Rectangle green.png" class="rectangle-green" alt="">
      <img src="/assets/moveto-img.png" class="moveto-img"  alt="">
   
       </div>
       <div class="delete-icon">
      <img src="/assets/Rectangle green.png" class="rectangle-green" alt="">
      <img src="/assets/newitem-img.png" class="newitem-img"  alt="">
      </div>
      </div>
       <div class="row-4" >
       <div class="delete-icon">
      <img src="/assets/Rectangle green.png" class="rectangle-green" alt="">
      <img src="/assets/duplicate-img.png" class="duplicate-img"  alt="">
   
       </div>
       <div class="delete-icon">
      <img src="/assets/Rectangle green.png" class="rectangle-green" alt="">
      <img src="/assets/copyto-img.png" class="copyto-img" alt="">
      </div>
      </div>

  </div>
</div>

</div>
</div>


<!---------------------------------Tests------------------------------------------------------------------------------------------------------>


<div class="sideBar expanded" [ngStyle]="expandedSideBar_tests" *ngIf="expanded_tests">
  <div *ngIf="false">
  <div class="folder-item-1"><img class="arrow-right" src="/assets/ic_round-arrow-right.png"><img class="folder-open" src="/assets/folder-open.png"><p class="item-1">ITEM</p></div>
 <div class="tests-scroll">
  <div class="tests-scroll-1"> 
  <div class="tests-qti">
    <img class="paper" src="/assets/paper.png" alt="">
    <p class="tests-item">QTI Interactions</p>
    

  </div>
  <div class="tests-qti">
    <img class="paper" src="/assets/paper.png" alt="">
    <p class="tests-item">QTI Interactions</p>
    

  </div>
  <div class="tests-qti">
    <img class="paper" src="/assets/paper.png" alt="">
    <p class="tests-item">QTI Interactions</p>
    

  </div>
  <div class="tests-qti">
    <img class="paper" src="/assets/paper.png" alt="">
    <p class="tests-item">QTI Interactions</p>
    

  </div>
  <div class="tests-qti">
    <img class="paper" src="/assets/paper.png" alt="">
    <p class="tests-item">QTI Interactions</p>
    

  </div>
</div>
</div>

  
  <div class="toggle">

    <div class="row-1" >
      <img src="/assets/tests-newfolder.png" class="newfolder"  alt="" >
     
      <img src="/assets/tests-delete.png" class="newfolder" alt="" >
     
   
      </div>
    <div class="row-2" >
      <img src="/assets/tests-export.png"  class="newfolder"  alt="" >
     
      <img src="/assets/tests-import.png" class="newfolder" alt="" >
     
   
      </div>
    <div class="row-3" >
      <img src="/assets/tests-moveto.png"  class="newfolder"  alt="" >
     
      <img src="/assets/tests-newitem.png" class="newfolder" alt="" >
     
   
      </div>
    <div class="row-4" >
      <img src="/assets/tests-duplicate.png"  class="newfolder"  alt="" >
     
      <img src="/assets/tests-copyto.png" class="newfolder" alt="" >
     
   
      </div>
    <div class="row-5" >
      <img src="/assets/tests-access.png" class="newfolder"  alt="" >
     
      <img src="/assets/tests-publish.png" class="newfolder" alt="" >
     
   
      </div>
      

  </div>
</div>

<!------------------>
<div>
  <h5 class="manage">MANAGE TESTS</h5>
  <div class="select-img"><img src="/assets/paper-white.png" class="paper-white" alt=""><p class="selectitem">SELECT ITEM</p></div>
  <div class="input-items"><input class="input-items-1" type="text" placeholder="text">
    <img class="black-book" src="/assets/black-book.png" alt="">
    <img class="exportcurve" src="/assets/exportcurve.png" alt="">
  </div>
  <div class="search-checkbox">
    <input type="search" class="search">
    <input type="checkbox" class="s-check" checked>
  </div>
  <div class="tests-box">
    <div class="arrow-pages">
      <img class="arrow-left" src="/assets/ic_round-arrow-right.png" alt="">
      <img class="pages" src="/assets/pages.png" alt="">
      <h6 class="a-p-items">ITEMS</h6>
    </div>
    <div class="grade">
      <img class="g-arrow-left" src="/assets/ic_round-arrow-right.png" alt="">
      <img class="g-pages" src="/assets/pages.png" alt="">
      <h6 class="g-a-p-items">5th grade</h6>
    </div>
    <div class="lessons">
      <div class="l-lessons">
        <label for="check1" class="l-label" title="">Luxembourg neigbourhoo.</label>
        <input type="checkbox" id="check1" class="l-check" (click)="update(0,'Luxembourg neigbourhoo.')">
        </div>
        <div class="l-lessons">
        <label for="check2" class="l-label" title="">Japanese capital (Order in..</label>
        <input type="checkbox" id="check2" class="l-check" (click)="update(1,'Japanese capital (Order in..')">
        </div>
        <div class="l-lessons">
        <label for="check3" class="l-label" title="">Languages of Europe (Ass..</label>
        <input type="checkbox" id="check3" class="l-check" (click)="update(2,'Languages of Europe (Ass..')">
        </div>
        <div class="l-lessons">
        <label for="check4" class="l-label" title="">Match Countries and lang</label>
        <input type="checkbox" id="check4" class="l-check" (click)="update(3,'Match Countries and lang')">
        </div>
        <div class="l-lessons">
        <label for="check5" class="l-label" title="">H.G. Walls: The time ma00</label>
        <input type="checkbox" id="check5" class="l-check" (click)="update(4,'H.G. Walls: The time ma00')">
        </div>
        <div class="l-lessons">
        <label for="check6" class="l-label" title="">Baudelaire: A une dame cr..</label>
        <input type="checkbox" id="check6" class="l-check" (click)="update(5,'Baudelaire: A une dame cr..')">
        </div>
        <div class="l-lessons">
        <label for="check7" class="l-label" title="">Richard III</label>
        <input type="checkbox" id="check7" class="l-check" (click)="update(6,'Richard III')">
        </div>
     
    </div>

  </div>

</div>


</div>


</div>
