<div id="box" hidden>
    <div id="header"></div>    
    <h1 class="label">Label<sup style="color: red;">*</sup></h1>
    <div id="inputbox">QTI Example Test</div>
</div>
<div id="box">
    <div id="header"></div>    
    <h1 class="label">Label<sup style="color: red;">*</sup></h1>
    <div id="inputbox">QTI Example Test</div>
    <h1 class="label" style="top: 165px;">Item Model</h1>
    <div id="inputbox" style="top: 167px;font-weight: bold;border:none"><input type="radio" style="accent-color: black;" id="">QTI</div>
</div>