#box{
box-sizing: border-box;

position: absolute;
width: 499.77px;
height: 249.21px;
left: 600.23px;
top: 255.79px;

background: #FFFFFF;
border: 3px solid #0C747E;
border-radius: 20px;
}
#header{
    width: 498px;
    height: 43px;
    position: relative;
    left: -2px;
    top:-2px;
    background: #0C747E;
    border-radius: 20px 20px 0px 0px;
}
#inputbox{
box-sizing: border-box;
position: absolute;
width: 211.85px;
height: 42.72px;
left: 235.76px;
top: 96.2px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.1em;
color: #000000;
padding-left: 5px;
}
.label{
position: absolute;
height: 35.11px;
left: 51.77px;
top: 104.2px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.1em;
color: #000000;
}
