/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --clr-light: #FFFFFF;
  --clr-medium: #83C5BE;
  --clr-dark: #0C747E;
  --clr-white: #fff;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%; 
}

button {
  cursor: pointer;
}

*{
  font-family: 'Roboto',sans-serif;
}